In [5]:
import pandas as pd

train = pd.read_csv('./Parking_data/train.csv')
test = pd.read_csv('./Parking_data/test.csv')
sub = pd.read_csv('./Parking_data/sample_submission.csv')
age = pd.read_csv('./Parking_data/age_gender_info.csv')

print(train.shape, test.shape, sub.shape, age.shape)
train

(2952, 15) (1022, 14) (150, 2) (16, 23)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
sel = ['전용면적']
X = train[sel]
y = train['등록차량수']
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=24)

Line = LinearRegression().fit(X_train, y_train)
pred = Line.predict(X_test)

df = {'실제값':y_test, "예측값":pred, '오차': y_test-pred}
df = pd.DataFrame(df)
df

         실제값          예측값           오차
995    562.0   543.463827    18.536173
1976   589.0   559.338892    29.661108
965    288.0   536.801013  -248.801013
2345   498.0   587.211308   -89.211308
2806   196.0   537.508000  -341.508000
...      ...          ...          ...
887    799.0   531.616444   267.383556
300    116.0  1708.727881 -1592.727881
2213   551.0   548.477006     2.522994
560    359.0   545.391973  -186.391973
2421  1730.0   619.497034  1110.502966

[738 rows x 3 columns]